.card {
    /* height: 320px; */
    border-radius: 12px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    box-shadow: 0 0 10px black;

    img {
        width: 100%;
        border-radius: 12px;
        transition: all .4s ease;
    }
    img:hover {
        transform: scale(1.1);
    }
}

.click {
    font-weight: 600;
    color: red;
}

.title {
    /* height: 14px; */
}
.desc {
    height: 50px;
}